ServerAppSoap/web/ConnectionService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. -->
<definitions targetNamespace="http://service.com/" name="connectionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://service.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.com/" schemaLocation="ConnectionService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addArticle">
    <part name="parameters" element="tns:addArticle"/>
  </message>
  <message name="addArticleResponse">
    <part name="parameters" element="tns:addArticleResponse"/>
  </message>
  <message name="getTableArticle">
    <part name="parameters" element="tns:getTableArticle"/>
  </message>
  <message name="getTableArticleResponse">
    <part name="parameters" element="tns:getTableArticleResponse"/>
  </message>
  <message name="deleteArticle">
    <part name="parameters" element="tns:deleteArticle"/>
  </message>
  <message name="deleteArticleResponse">
    <part name="parameters" element="tns:deleteArticleResponse"/>
  </message>
  <message name="searchArticle">
    <part name="parameters" element="tns:searchArticle"/>
  </message>
  <message name="searchArticleResponse">
    <part name="parameters" element="tns:searchArticleResponse"/>
  </message>
  <message name="getArticle">
    <part name="parameters" element="tns:getArticle"/>
  </message>
  <message name="getArticleResponse">
    <part name="parameters" element="tns:getArticleResponse"/>
  </message>
  <message name="updateArticle">
    <part name="parameters" element="tns:updateArticle"/>
  </message>
  <message name="updateArticleResponse">
    <part name="parameters" element="tns:updateArticleResponse"/>
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello"/>
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse"/>
  </message>
  <portType name="connectionService">
    <operation name="addArticle">
      <input wsam:Action="http://service.com/connectionService/addArticleRequest" message="tns:addArticle"/>
      <output wsam:Action="http://service.com/connectionService/addArticleResponse" message="tns:addArticleResponse"/>
    </operation>
    <operation name="getTableArticle">
      <input wsam:Action="http://service.com/connectionService/getTableArticleRequest" message="tns:getTableArticle"/>
      <output wsam:Action="http://service.com/connectionService/getTableArticleResponse" message="tns:getTableArticleResponse"/>
    </operation>
    <operation name="deleteArticle">
      <input wsam:Action="http://service.com/connectionService/deleteArticleRequest" message="tns:deleteArticle"/>
      <output wsam:Action="http://service.com/connectionService/deleteArticleResponse" message="tns:deleteArticleResponse"/>
    </operation>
    <operation name="searchArticle">
      <input wsam:Action="http://service.com/connectionService/searchArticleRequest" message="tns:searchArticle"/>
      <output wsam:Action="http://service.com/connectionService/searchArticleResponse" message="tns:searchArticleResponse"/>
    </operation>
    <operation name="getArticle">
      <input wsam:Action="http://service.com/connectionService/getArticleRequest" message="tns:getArticle"/>
      <output wsam:Action="http://service.com/connectionService/getArticleResponse" message="tns:getArticleResponse"/>
    </operation>
    <operation name="updateArticle">
      <input wsam:Action="http://service.com/connectionService/updateArticleRequest" message="tns:updateArticle"/>
      <output wsam:Action="http://service.com/connectionService/updateArticleResponse" message="tns:updateArticleResponse"/>
    </operation>
    <operation name="hello">
      <input wsam:Action="http://service.com/connectionService/helloRequest" message="tns:hello"/>
      <output wsam:Action="http://service.com/connectionService/helloResponse" message="tns:helloResponse"/>
    </operation>
  </portType>
  <binding name="connectionServicePortBinding" type="tns:connectionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTableArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="deleteArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="searchArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateArticle">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="connectionService">
    <port name="connectionServicePort" binding="tns:connectionServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

